{% extends "playlist/base.html" %}
{% load static %}
{% block content %}

<div class="pb-5">

    <div class="row">
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
        <div class="col-lg-8 col-md-12 mb-3">

            <div class="shadow-effect mb-3">
                <h1 style="text-align: center; font-size: x-large;">About Us</h1>
                <hr>
                <h2 style="font-size: larger;">Why Youtube playlist length calculator?</h2>
                <p><span class="float-start"><i style="color: #793fdf;"
                            class="bi bi-check-square-fill">&nbsp;</i></span>
                    A YouTube playlist length calculator helps users quickly determine the total duration of all videos
                    in a playlist, saving time and effort compared to manually adding up individual video lengths. It is
                    a useful tool for efficient planning and management of viewing sessions.
                </p>
                <h2 style="font-size: larger;">How to contact me?</h2>
                <p><span class="float-start"><i style="color: #793fdf;"
                            class="bi bi-check-square-fill">&nbsp;</i></span> Feel free to complete <a
                        href="https://forms.gle/V4XMrNSABHzLPeMa6" target="_blank">this</a> form,
                    and I'll be in touch within one business day.
                    You can also connect with me via <a href="https://www.linkedin.com/in/youtube-playlist-length-calculator-b2357b319/" target="_blank">LinkedIn</a>. If
                    you prefer
                    email communication, please send your message to <a
                        href="mailto:yt.shashanksahu@gmail.com">yt.shashanksahu@gmail.com</a></p>
                <h2 style="font-size: larger;">How to share a feedback or suggestion about website?</h2>
                <p><span class="float-start"><i style="color: #793fdf;"
                            class="bi bi-check-square-fill">&nbsp;</i></span>
                    Please take a moment to fill out <a href="https://forms.gle/V4XMrNSABHzLPeMa6"
                        target="_blank">this</a> form to share your suggestions or feedback about the website. Your
                    insights and opinions are incredibly important to us, and we greatly appreciate your effort in
                    helping us improve! 😊 <br>
                </p>
                <h2 style="font-size: larger;">How to support me?</h2>
                <p><span class="float-start"><i style="color: #793fdf;"
                            class="bi bi-check-square-fill">&nbsp;</i></span> If you like the website & would like to
                    support me, you can star <a href="https://github.com/RoronoaZoro04/youtube-playlist-length" target="_blank">this</a> Github Repository to
                    donate.</p>

            </div>
        </div>
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
    </div>
</div>


{% endblock content %}