{% extends "playlist/base.html" %}
{% load static %}
{% block content %}

<div class="pb-5">  
    <div class="row">
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
        <div class="col-lg-8 col-md-12 mb-3">

            <div class="shadow-effect mb-3">
                <h1 style="text-align: center; font-size: x-large;">Blogs</h1>
                <hr>
                 
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">
                            How do i create a youtube playlist
                        </h2>
                        <p class="card-text">Did you ever think of what would happen if you do not have a playlist on youtube? Sounds weird right ? Nowadays we can’t imagine our lives without Youtube.</p>
                        <a href="/blogs/how-do-i-create-youtube-playlist.html" class="btn btn-primary" target="_blank">View</a>
                    </div>
                </div>     
            </div>
        </div>
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
    </div>
</div>


{% endblock content %}